NEXT_PUBLIC_AUTH0_DOMAIN=https://auth.sitecorecloud.io
NEXT_PUBLIC_AUTH0_AUDIENCE=https://api-webapp.sitecorecloud.io
NEXT_PUBLIC_AUTH0_SCOPE=openid profile email offline_access
NEXT_PUBLIC_SITECORE_APP_ID=
NEXT_PUBLIC_APP_BASE_URL=https://marketers-chat.local:3000

NEXT_PUBLIC_AUTH0_CLIENT_ID=

AI_GATEWAY_API_KEY=
